nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
nav ul{
	list-style-type:none;
	display:flex;
}
nav ul li{
	margin-left:1rem;
}
nav ul li a{
	color:#fff;
	text-decoration:none;
}
.wrapper{
	margin:0 auto;
	font-weight:bold;
	font-size:1.2rem;
	width:1000px;
}
		